/PrimeChecker.class
/Prime.class
/JavaVarargsSimpleAddition.class
/Add.class
/JavaReflectionAttributes.class
/Student.class
/JavaFactoryPattern.class
/Cake.class
/Food.class
/FoodFactory.class
/Pizza.class
/Do_Not_Terminate$1.class
/Do_Not_Terminate$ExitTrappedException.class
/Do_Not_Terminate.class
/CanYouAccess.class
/Solution.class
/Solution$Inner$Private.class
/Solution$Inner.class
/DoNotTerminate$1.class
/DoNotTerminate$ExitTrappedException.class
/DoNotTerminate.class
/CanYouAccess$Inner$Private.class
/CanYouAccess$Inner.class
